<%= hidden_field_tag :post_id, @post.id %>
【<%= @post.content %>】へのコメント
<ul id="listWithHandle" class="list-group">
  <% @comments.each do |comment| %>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
      <%= comment.content %>
    </li>
  <% end %>
</ul>
<p><%= link_to "戻る",root_path %></p>

<script>
  var el = document.getElementById('listWithHandle');
  // List with handle
  Sortable.create(el, {
    axis: "y",
    handle: '.glyphicon-move',
    animation: 150,
    onUpdate: function(evt) {
      return $.ajax({
        url: '/posts/' + <%= @post.id %> + '/sort',
        type: 'patch',
        data: {
          from: evt.oldIndex,
          to: evt.newIndex
        }
      });
    }
  });
</script>
